<div class="jumbotron">
  <div class="container">
    <h1w><b>GOOD MUSIC IS GOOD MUSIC.</b></h1w>
    <p><b>If you know an artist who deserves musical recognition, let's share their music and expose their talent. The only thing that can happen overnight is recognition. The talent was always in us.</b></p> 
    <br>
    <p1>
      <%= link_to 'Share music!', new_video_path, class: 'btn btn-primary btn-lg', 
                                                  id:'btnShadow' %>
    </p1>
  </div>
</div>