<% provide(:title, "A Hub Of Cover Songs From Talented Artists Who Deserve Musical Recognition") %>

<%= render 'jumbotron' %>

<% if @videos.any? %>
  <div class="container-fluid">
    <h1>Trending videos</h1>
 
    <div id="player-wrapper"></div>
    <br></br>
    <%= will_paginate %>
      <div class="row">
        <% @videos.each do |video| %>
          <% if video %>
            <%= render 'videos', video: video %>
          <% end %>
        <% end %>
      </div>
    <%= will_paginate %>
  </div>
<% end %>